body {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.container {
  box-shadow: 0px 5px 15px 5px rgba(0, 1, 1, 0.2)
}

a {
  text-decoration: none;
}

.site-nav,
.service-list,
.list-advantages,
.social-list,
.infrastructure-list,
.house-list,
.options-list,
.hotels-list {
  list-style: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  border: none;
}

.main-nav {
  line-height: 26px;
  font-weight: 700;
  background-color: #ffffff;
}

.main-header-logo {
  position: absolute;
  left: 531px;
}

.site-nav {
  display: flex;
  margin: 0;
  padding: 0;
}

.site-nav li {
  width: 300px;
  padding-top: 14px;
  padding-bottom: 16px;
}

ul.site-nav li:nth-of-type(1) {
  box-sizing: border-box;
  padding-left: 72px;
}

ul.site-nav li:nth-of-type(2) {
  box-sizing: border-box;
  padding-left: 13px;
}

ul.site-nav li:nth-of-type(3) {
  box-sizing: border-box;
  padding-right: 17px; 
  text-align: right;
}

ul.site-nav li:nth-of-type(4) {
  box-sizing: border-box;
  padding-right: 72px;
  text-align: right;
}

.site-nav a {
  color: #000000;
}

.site-nav a:hover {
  color: #81b3d2;
}

.site-nav a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-nav a.main-active {
  color: #766357;
}

.main-img{
  width: 1200px;
  height: 508px;
  background: url("../img/welcome.png") no-repeat 50% 76px,
              url("../img/white-background.png") no-repeat 0 100%,
              url("../img/background-photo-1.jpg") no-repeat;	
  background-color: #dbe9f2;	
}

.main-description {
	padding-top: 60px;
	padding-bottom: 50px;
	background-color: #ffffff;
}

.main-description h2 {
	background-color: white;
	width: 450px;
	margin: 0 auto;
	padding: 0 auto;
	margin-bottom: 28px;
    text-align: center;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
}

.main-description p {
	background-color: white;
	width: 491px;
	margin: 0;
	padding: 0;
	margin-right: auto;
    margin-left: auto;
	font-size: 14px;
	line-height: 26px;
	color: #333333;
	text-align: center;
}

.main-advantages {
	display: flex;
	width: 100%;
}

.advantages-city-canyon {

	width: 400px;
	padding-top: 45px;
	background-color: #81b3d2;
	color: #ffffff;
	text-align: center;
}

.advantages-city-canyon h2 {
	width: 152px;
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 25px;
}

.advantages-city-canyon .subtitle {
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 21px;
}

.advantages-city-canyon .description-advantage {
	width: 304px;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	color:#ffffff;
}

.city {
	line-height: 0;
	margin: 0;
	padding: 0;
}

.service {
	padding-top: 161px;
	padding-bottom: 81px;
	background-color: #ffffff;
}

.service-list {
	display: flex;
	justify-content: space-around;
	margin: 0;
	padding: 0;
	margin-right: auto;
	margin-left: auto;
}

.service-item {
	position: relative;
	width: 400px;
	text-align: center;
}

.service-item:first-of-type::before{
	position: absolute;
	content: "";
	width: 75px;
	height: 72px;
	background-image: url("../img/icon-1.svg");
	background-repeat: no-repeat;
	bottom: 117px;
	right: 162px;
}

.service-item:nth-of-type(2)::before{
	position: absolute;
	content: "";
	width: 74px;
	height: 70px;
	background-image: url("../img/icon-3.svg");
	background-repeat: no-repeat;
	bottom: 118px;
	right: 165px;
}

.service-item:nth-of-type(3)::before{
	position: absolute;
	content: "";
	width: 64px;
	height: 76px;
	background-image: url("../img/icon-2.svg");
	background-repeat: no-repeat;
	bottom: 117px;
	right: 169px;
}

.service-list li:first-of-type p:first-of-type {
	padding: 0 73px;
}

.service-list li:nth-of-type(2) p {
	padding: 0 50px;
}

.service-list li:nth-of-type(3) p {
	padding: 0 64px;
}

.service-item h2 {
	margin: 0;
	margin-bottom: 25px;
	font-size: 21px;
	font-weight: 700;
}

.service-item p {
	margin: 0;
	color: #333333;
}

.canyon {
	margin: 0;
	padding: 0;
	line-height: 0;
}

.main-advantages:nth-of-type(2)  h2:first-od-type {
	padding: 40px;
}	

.list-advantages {
	display: flex;
	justify-content: space-around;
	margin: 0;
	padding: 0;
	padding-bottom: 59px;
	padding-top: 47px;
	text-align: center;
	background-color: #eeeeee;
}

.list-advantages h2,
.list-advantages p {
	margin: 0;
	padding: 0;
}

.list-advantages h2 {
	width: 119px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 25px;
	font-size: 21px;
}

.list-advantages p {
	color: #333333;
}

.list-advantages .subtitle {
	margin-bottom: 20px;
}

.list-advantages .description-advantage {
	width: 264px;
}

.hotel-search {
	text-align: center;
	background-color: #ffffff;
	padding-top: 50px;
}

.hotel-search h2 {
	margin: 0;
	margin-bottom: 24px;
	font-size: 30px;
	line-height: 36px;
}

.hotel-search p {
	margin: 0;
	padding-left: 382px;
	padding-right: 383px;
	margin-bottom: 47px;
	font-size: 14px;
	line-height: 24px;
}

.hotel-search a {
	display: inline-block;
	vertical-align: middle;
	font-size: 21px;
	line-height: 26px;
	padding: 30px 138px;
	background-color: #766357;
	color: #ffffff;
}

.hotel-search a:hover {
	background-color: #604e43;
}

.hotel-search a:active {
	background-color: #503e33;
}

.map-img {
	width: 1200px;
	height: 593px;
	background-image: url("../img/map2.jpg");
	bottom: 0;
}

.form-search {
	position: absolute;
	top: -473px;
	left: 315px;
	width: 459px;
	padding-left: 55px;
	padding-right: 55px;
	padding-top: 54px;
	padding-bottom: 55px;
	color: #000000;
	background-color: #ffffff;
	box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7)
}

.form-search label {
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
}

div.arrival-departure {
	margin-bottom: 29px;
}

label.arrival {
	margin-right: 20px;
}

label.departure {
	margin-right: 17px;
}

label.adults {
	margin-right: 37px;
}

label.children {
	margin-right: 21px;	
}


input[name^="date"] {
	width: 346px;
}

.form-search input {
	box-sizing: border-box;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	text-transform: uppercase;
	box-sizing: border-box;
	background-color: #f2f2f2;
	border: 2px solid #f2f2f2;
	padding-right: 40px;
	padding-left: 12px;
	padding-top: 5px;
	padding-bottom: 4px;
}

.form-search input::-webkit-input-placeholder {
	color: #000000;
}

.form-search input::-moz-placeholder {
	color: #000000;
}

.form-search input:-moz-placeholder{
	color: #000000;
} 

.form-search input:-ms-input-placeholder {
	color: #000000;
}

.arrival-departure {
	position: relative;
}

span.calendar {
		position: absolute;
		display: block;
		width: 21px;
		height: 22px;
		bottom: 8px;
		left: 429px;
}

span.calendar:hover path {
	fill: #000000;

}

span.calendar:active path {
	fill: #81b3d2;
}

.adults-children-container {
	position: relative;
	display: flex;
	margin-bottom: 53px;
}


.adults-children:first-of-type input:first-of-type {
	margin-right: 53px;
}

.adults-children input {
	width: 115px;
	padding-left: 53px;
}

.minus,
.plus {
	position: absolute;
	border: none;
	background-color: #a9a9a9;
}

.minus {
	font-size: 1px;
}

.minus-adults {
	bottom: 18px;
	left: 126px;
}

.minus-children {
	bottom: 18px;
	left: 359px;
}
.plus {
	font-size: 23px;
	font-weight: 700;
	background-color: transparent;
	color: #a9a9a9;
}

.plus-adults {
	bottom: 6px;
	left: 196px;
}

.plus-children {
	bottom: 6px;
	left: 428px;
}

.plus:hover {
	color: #000000;
}

.plus:active {
	color: #81b3d2;
}

.minus:hover {
	background-color: #000000;
}

.minus:active {
	background-color: #81b3d2;
}

.form-search input:hover {
	background-color: #ebebeb;
	border: 2px solid #ebebeb;
}

.form-search input:focus {
	background-color: #ffffff;
	border: 2px solid #e5e5e5;
}

.form-search .button {
	display: inline-block;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	padding-top: 17px;
	padding-bottom: 14px;
	padding-left: 195px;
	padding-right: 197px;
	background-color: #81b3d2;
	color: #ffffff;
	text-transform: uppercase;
	border: none;
}

.form-search .button:hover {
	background-color: #669ec0;
}

.form-search .button:active {
	background-color: #5496bd;
	color: rgba(255, 255, 255, 0.3);
}

.main-footer {
	position: absolute;
	width: 1200px;
	height: 120px;
	bottom: 0px;
	background-color: rgba(255, 255, 255, 0.9);
	display: flex;
	align-items: center;
}

.catalog-footer {
	background-color: #ffffff;
}

.main-footer .hash,
.catalog-footer .hash {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	padding-left: 132px;
}

.social-footer {
	padding-left: 257px;
}

.main-footer a {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
}

.social-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 46px;
	height: 48px;
	background-color: #81b3d2;
}

.social-btn:hover {
	background-color: #669ec0;
}

.social-btn:active {
	background-color: #5496bd;
}

.social-btn:active path {
	fill: #88b6d1;
}

.social-list {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	width: 150px;
}

.copyright {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 197px;
	padding-left: 228px;
}

.copyright span {
	font-size: 14px;
	line-height: 26px;
	font-weight: normal;
}

.logo-img:hover path,
.logo-img:hover rect {
	fill: #81b3d2;
}

.logo-img:active path,
.logo-img:active rect {
	fill: #bdbbbc;
}

.catalog-footer {
	display: flex;
	align-items: center;
	width: 1200px;
	height: 120px;
}

.filters {
	width: 1200px;
	background-image: url("../img/background-photo-2.jpg");
	background-repeat: no-repeat;
	background-color: #4d779d;
	color: #ffffff;
}

.filter {
	display: flex;
	padding-top: 27px;
	padding-left: 72px;
	padding-right: 72px;
	padding-bottom: 5px;
}

.infrastructure-house {
	width: 200px;
	margin: 0;
	padding: 0;
	border: none;
}

.infrastructure-house .title-form {
	margin-bottom: 25px;
}

.infrastructure-list {
	margin: 0;
	padding: 0;
	margin-left: 40px;
}

.house-list {
	margin: 0;
	padding: 0;
	margin-left: 42px;
}

.house-container {
	margin-left: 55px;
}


.filters legend {
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 21px;
	font-weight: 700;
}

.filters .filter-option {
	padding-bottom: 25px;
	font-size: 14px;
	line-height: 21px;
}

.filter-checkbox {
	position: relative;
}
 
.filter-option input[type="checkbox"] + .checkbox-indicator::before {
	content: "";
	position: absolute;
	bottom: -2px;
	left: -40px;
	width: 23px;
	height: 23px;
	background: url(../img/checkbox-off.svg) no-repeat;
}

.filter-option input[type="checkbox"]:focus + .checkbox-indicator::before {
	border-color: #663d15;
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
}

.filter-option input[type="checkbox"]:checked + .checkbox-indicator::before {
	width: 25px;
	background: url(../img/checkbox-on.svg) no-repeat;
}

.form-price {
	width: 330px;
	color: #ffffff;
	text-transform: uppercase;
	padding-left: 285px;
}

.form-price p {
	margin: 0;
	margin-bottom: 9px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}

.min-max {
	position: relative;
	height: 32px;
	margin-bottom: 20px;
	font-size: 0;
	border: 2px solid #ffffff;
	border-radius: 2px;
}

.min-max::after {
	content: "";
	position: absolute;
	width: 2px;
	height: 22px;
	background: #ffffff;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.min-max label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  margin-top: -2px;
  cursor: pointer;
}

.min-max .min-price {
	width: 90px;
	padding-left: 62px;
}

.min-max .max-price {
	width: 90px;
	padding-left: 59px;
}

.min-max input {
	width: 50px;
	height: 20px;
 	margin: 0;
 	padding-left: 4px;
	color: inherit;
  	font: inherit;
	background: none;
 	border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
	height: 2px;
	background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 4px;
  height: 4px;
  top: -9px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.button-filter {
  display: block;
  margin-left: 82px;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.button-filter:hover {
	background-color: #ffffff;
	color:#000000;
}

.options {
	display: flex;
	align-items: center;
	padding-top: 32px;
	padding-bottom: 30px;
	background-color: #ffffff;
}

.buttons-option {
	display: flex;
}

.options h2 {
	margin: 0;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	padding-left: 72px;
}

.options span {
	font-size: 12px;
	line-height: 18px;
	color: #000000;
	padding-left: 48px;
}

.options-list {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding-left: 39px;
	width: 240px;
}

.options-list a {
	font-size: 12px;
	line-height: 18px;
	border-bottom: 1px dashed #81b3d2;
	color: rgba(0, 0, 0, 0.3);
}

.options-list a.active {
	border: none;
	color:#81b3d2;
}

.options-list a:hover {
	color: #81b3d2;
}

.options-list a:active {
	border: none;
	color: #000000;
}

.up-down {
	padding-left: 504px;
}

.up-down .button {
	display: inline-block;
	width: 11px;
	height: 10px;
}

.up-down .button:hover path {
	fill: #231f20;
}

.up-down .button:active path {
	fill: #81b3d2;
}

.button-up {
	padding-right: 9px;
}

.up-down .active path {
	fill: #81b3d2
}

.hotels-list {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	background-color: #ffffff;
}

.hotels-list li {
	display: flex; 
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 72px;
	padding-right: 72px;
	border-top: 1px solid #e5e5e5;
}

.hotels-type:nth-of-type(3) {
	border-bottom: 1px solid #e5e5e5;
}

.hotels-list li img {
	margin-right: 30px;
}

.name-and-price {
	margin: 0;
	margin-bottom: 18px;
}

.description-booking .name {
	display: inline-block;
	width: 110px;
}

.description-booking .price {
	display: inline-block;
	width: 143px;
}

.about-more-book {
	margin: 0;
}

.rating-low,
.rating-middle,
.rating-high {
	align-self: center;
	margin-left: auto;
}

.hotels-type a.hotels-title {
	display: inline-block;
	vertical-align: top;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	margin-top: -6px;
	margin-bottom: 8px;
	color: #000000;
}

.hotels-type a.hotels-title:hover {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #81b3d2;
}

.hotels-type a.hotels-title:active {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: rgba(0, 0, 0, 0.3);
}

.hotels-about-more {
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
	padding-top: 5px;
	padding-bottom: 4px;
	padding-left: 16px;
	padding-right: 17px;
	margin-right: 2px;
	background-color: #81b3d2;
	color:#ffffff;
}

a.hotels-about-more:hover {
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
	background-color: #669ec0;
	color:#ffffff;
}

a.hotels-about-more:active {
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
	background-color: #5496bd;
	color: rgba(255, 255,255, 0.3);
}

.hotels-book {
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
	padding-top: 5px;
	padding-bottom: 4px;
	padding-left: 16px;
	padding-right: 18px;
	background-color: #766357;
	color:#ffffff;
}

a.hotels-book:hover{
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
	background-color: #604e43;
	color:#ffffff;
}

a.hotels-book:active{
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
	background-color: #503e33;
	color: rgba(255, 255,255, 0.3);
}

.rating {
	display: inline-block;
	position: relative;
	font-size: 14px;
	line-height: 21px;
	padding-left: 15px;
	padding-right: 13px;
	padding-top: 4px;
	padding-bottom: 3px;
	margin-top: 58px;
	background-color: #f2f2f2;
	color: #666666;
}

.stars-4::before {
	position: absolute;
	content: "";
	background: url(../img/star.svg) repeat-x;
	width: 93px;
	height: 17px;
	bottom: 74px;
	left: 19px;
}

.stars-3::before {
	position: absolute;
	content: "";
	background: url(../img/star.svg) repeat-x;
	width: 70px;
	height: 17px;
	bottom: 74px;
	left: 43px;
}

.stars-2::before {
	position: absolute;
	content: "";
	background: url(../img/star.svg) repeat-x;
	width: 47px;
	height: 17px;
	bottom: 74px;
	left: 66px;
}
