body {
	width: 1200px;
	margin: 0 auto;
	padding: 0;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	color: #000000;
	text-transform: uppercase;
	background-color: #ffffff;
}

a {
	text-decoration: none;
}

.site-nav,
.service-list,
.list-advantages,
.social-list,
.infrastructure-list,
.house-list,
.options-list,
.hotels-list {
	list-style: none;
}

.main-nav {
	position: relative;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
}

.main-header-logo {
	position: absolute;
	left: 531px;
}

.site-nav {
	display: flex;
	justify-content: space-around;
	margin: 0;
	padding: 0;
}

.site-nav li {
	width: 300px;
	padding-top: 15px;
	padding-bottom: 15px;
}

ul.site-nav li:nth-of-type(1) {
	box-sizing: border-box;
	padding-left: 72px;
}

ul.site-nav li:nth-of-type(3) {
	text-align: right;
}

ul.site-nav li:nth-of-type(4) {
	box-sizing: border-box;
	text-align: right;
	padding-right: 72px;
}

.site-nav a {
	color: #000000;
}

.site-nav a:hover {
	color: #81b3d2;
}

.site-nav a:active {
	color: rgba(0, 0, 0, 0.3);
}

.site-nav a.main-active {
	color: #766357;
}

.bg{
	width: 1200px;
	height: 508px;
	background-color: #000000;
	background: url("../img/welcome.png") no-repeat 50% 76px,
				url("../img/background-photo-1.jpg") no-repeat;
}

.main-description {
	padding-top: 62px;
	padding-bottom: 55px;
}

.main-description h2 {
	background-color: white;
	width: 440px;
	margin-right: auto;
    margin-left: auto;
    margin-bottom: 33px;
    text-align: center;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	text-align: center;
}

.main-description p {
	background-color: white;
	width: 491px;
	margin-right: auto;
    margin-left: auto;
	font-size: 14px;
	line-height: 26px;
	color: #333333;
	text-align: center;
}

.main-advantages {
	display: flex;
	width: 100%;
	height: 256px;
}

.advantages-city-canyon {

	width: 400px;
	padding-top: 50px;
	background-color: #81b3d2;
	color: #ffffff;
	text-align: center;
}

.advantages-city-canyon h2 {
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
	margin: 0;
	padding-left: 138px;
	padding-right: 138px;
	padding-bottom: 24px;
}

.advantages-city-canyon .subtitle {
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 26px;
}

.advantages-city-canyon .description-advantage {
	margin: 0;
	padding-left: 59px;
	padding-right: 59px;
	color:#ffffff;
}

.city {
	margin: 0;
	padding: 0;
}

.service {
	margin-top: 163px;
	margin-bottom: 85px;
}

.service-list {
	display: flex;
	justify-content: space-around;
	margin: 0;
	padding: 0;
	margin-right: auto;
	margin-left: auto;
}

.service-item {
	width: 400px;
	text-align: center;
}

.service-list li:first-of-type p:first-of-type {
	padding: 0 73px;
}

.service-list li:nth-of-type(2) p {
	padding: 0 58px;
}

.service-list li:nth-of-type(3) p {
	padding: 0 64px;
}

.service-item h2 {
	margin: 0;
	margin-bottom: 25px;
	font-size: 21px;
	font-weight: 700;
}

.service-item p {
	margin: 0;
	color: #333333;
}

.canyon {
	margin: 0;
	padding: 0;
}

.main-advantages:nth-of-type(2)  h2:first-od-type {
	padding: 40px;
}	

.list-advantages {
	display: flex;
	justify-content: space-around;
	width: 100%;
	margin: 0;
	padding: 0;
	margin-bottom: 53px;
	padding-top: 47px;
	text-align: center;
	background-color: #eeeeee;
}

.list-advantages h2,
.list-advantages p {
	margin: 0;
	padding: 0;
}

.list-advantages h2 {
	margin-bottom: 25px;
	font-size: 21px;
}

.list-advantages p {
	color: #333333;
}

.list-advantages .subtitle {
	margin-bottom: 27px;
}

.list-advantages .description-advantage {
	padding-bottom: 62px;
}

.hotel-search {
	text-align: center;
}

.hotel-search h2 {
	margin: 0;
	margin-bottom: 27px;
	font-size: 30px;
	line-height: 36px;
}

.hotel-search p {
	margin: 0;
	padding-left: 382px;
	padding-right: 383px;
	margin-bottom: 53px;
	font-size: 14px;
	line-height: 24px;
}

.hotel-search a {
	font-size: 21px;
	line-height: 26px;
	background-color: #766357;
	color: #ffffff;
}

.hotel-search a:hover {
	background-color: #604e43;
}

.hotel-search a:active {
	background-color: #503e33;
}

.map-image {
	margin: 0;
}

.form-search {
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	text-align: center;
	background-color: #ffffff;
}

.form-search input {
	background-color: #f2f2f2;
	border: 2px solid #f2f2f2;
}

.form-search input:hover {
	background-color: #ebebeb;
	border: 2px solid #ebebeb;
}

.form-search input:focus {
	background-color: #ffffff;
	border: 2px solid #e5e5e5;
}

.form-search .button {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	background-color: #81b3d2;
	color: #ffffff;
	text-transform: uppercase;
}

.form-search .button:hover {
	background-color: #669ec0;
}

.form-search .button:active {
	background-color: #5496bd;
	color: rgba(255, 255, 255, 0.3);
}

.main-footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.main-footer a {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
}

.copyright p {
	font-size: 14px;
	line-height: 26px;
	color: #000000;
}

.filters {
	background-color: #000000;
	width: 1200px;
	height: 217px;
	background-image: url("../img/background-photo-2.jpg");
	background-repeat: no-repeat;
	color: #ffffff;
}

.filter {
	display: flex;
}

.infrastructure-house {
	width: 236px;
	margin: 0;
	padding: 0;
	padding-left: 71px;
	border: none;
}

.infrastructure-list {
	margin: 0;
	padding: 0;
}

.house-list {
	margin: 0;
	padding: 0;
}

.filters legend {
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 16px;
	line-height: 21px;
	font-weight: 700;
}

.filters .filter-option {
	padding-bottom: 30px;
	font-size: 14px;
	line-height: 21px;
}

.form-price .min-max {
	border: 2px solid #ffffff;
	border-radius: 2px;
}

.min-max input {
	background-color: transparent;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 21px;
	color:#ffffff;

}

.form-price p {
	font-size: 16px;
	line-height: 21px;
	font-weight: 700;
	color: #ffffff;

}

.button-filter {
	align-self: flex-end;
	background-color: transparent;
	text-transform: uppercase;
	border: 2px solid #ffffff;
	border-radius: 2px;
	font-size: 14px;
	line-height: 26px;
	color:#ffffff;
}

.button-filter:hover {
	background-color: #ffffff;
	color:#000000;
}

.options {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.buttons-option {
	display: flex;

}

.options h2 {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
}

.options p {
	font-size: 12px;
	line-height: 18px;
	color: #000000;
}

.options-list a {
	font-size: 12px;
	line-height: 18px;
	border-bottom: 1px dashed #81b3d2;
	color: rgba(0, 0, 0, 0.3);
}

.options-list a.active {
	border: none;
	color:#81b3d2;
}

.options-list a:hover {
	color: #81b3d2;
}

.options-list a:active {
	border: none;
	color: #000000;
}

.hotels-list {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
}

.hotels-list li {
	display: flex; 
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 72px;
	padding-right: 72px;
	border-top: 1px solid #e5e5e5;
}

.hotels-list li img {
	margin-right: 30px;
}

.name-and-price {
	margin: 0;
	margin-bottom: 13px;
}

.description-booking .name {
	display: inline-block;
	width: 110px;
}

.description-booking .price {
	display: inline-block;
	width: 143px;
}

.about-more-book {
	margin: 0;
}

.rating-low,
.rating-middle,
.rating-high {
	align-self: center;
	margin-left: auto;
}

.hotels-type a.hotels-title {
	display: inline-block;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	margin-bottom: 6px;
	color: #000000;
}

.hotels-type a.hotels-title:hover {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #81b3d2;
}

.hotels-type a.hotels-title:active {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: rgba(0, 0, 0, 0.3);
}

.hotels-about-more {
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
	padding-top: 6px;
	padding-bottom: 5px;
	padding-left: 16px;
	padding-right: 16px;
	background-color: #81b3d2;
	color:#ffffff;
}

a.hotels-about-more:hover {
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
	background-color: #669ec0;
	color:#ffffff;
}

a.hotels-about-more:active {
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
	background-color: #5496bd;
	color: rgba(255, 255,255, 0.3);
}

.hotels-book {
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
	padding-top: 6px;
	padding-bottom: 5px;
	padding-left: 16px;
	padding-right: 16px;
	background-color: #766357;
	color:#ffffff;
}

a.hotels-book:hover{
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
	background-color: #604e43;
	color:#ffffff;
}

a.hotels-book:active{
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
	background-color: #503e33;
	color: rgba(255, 255,255, 0.3);
}

.rating {
	font-size: 14px;
	line-height: 21px;
	background-color: #f2f2f2;
}
